<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <h1 class="text-center"> {% block title %} Add Question {% endblock %}</h1>
  {% block body %}
  <br>
  <br>
  <div class="container mt-4">
    <form action="/add_question/" method="POST"> {% csrf_token %}
      <h2>Content</h2>
      {{ form.as_p }}
      <button type="submit">Save</button>
    </form>
</head>
<br>
<div class="container"></div>
<table class="table">
  <table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Question</th>
        <th>Quiz</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for question in questions %}
    <tr>
      <td><a href="/add_options/{{question.id}}/">{{question.text}}</a></td>
      <td>{{question.quiz}}</td>
      <td><a href="/delete_question/{{question.id}}/" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </table>
  <div> <button><a href="/main">close</a></button></div>
  </div>

  {% endblock %}