{% block content %}

<style>
    form {
        width: 50%;
        margin-left: 25%
    }
</style>
<div class="row justify-content-center mt-5">
    <div class="col-md-5">

    </div>
</div>
<div class="container mt-4">
    <form method="POST">
        <br>
        <br>
        <br>
        <h2>{% block title %} Add Quiz {% endblock %}</h2>
        {% csrf_token %}
        <br>
        {{ form.as_p }}
        <br>
        <button type="submit">Save</button>
        <button style="background-color: #ffcc00; border-color: #ffcc00;"><a href="/main">close</a></button>
    </form>

</div>

{% endblock %}