{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script>alert('Read the question carefully, Goodluck!')</script>
<script src="{% static 'quizez/quiz.js' %}" defer></script>

{% endblock scripts %}

{% block title %}

Quiz Of {{obj.name}}

{% endblock title %}



{% block content %}



<div class="row">
	<div class="col mb-3">
		<b>{{obj.name}}</b><br>
		Required score to pass <i><b>{{obj.required_score_to_pass}} %</b></i>
	</div>

	<div class="col text-right mb-3" id="timerbox">

	</div>
</div>


<hr>
<form id="form-quiz" class="mt-3 mb-3">

	{% csrf_token %}
	<div id="quiz-box">



	</div>

	<button type="submit" class="btn btn-primary mt-3">Save</button>


</form>

<div id="score-box"></div>
<div id="result-box"></div>
<footer>
	<a class="btn btn-warning" href="{% url 'quizez:main-view' %}">Close</a>
</footer>


{% endblock content %}